@mixin soft-change {
  transition:
    background-color .2s ease-in-out,
    color .2s ease-in-out;
}

@mixin round-corners {
  border-radius: $half-measure;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
