// Colors
$white: #fff;
$text-base: #777;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;

$lighten-amount: 15%;

// Breakpoint
$break: 768px;

// Additional
$outline: solid $color-primary;

$breathing-room: 10px;
$half-room: 5px;
