/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $break) {

.btn {
  padding: 10px 30px;

  & + .btn {
    margin-left: 10px;
  }

}

.logo {
  margin-left: initial;
  margin-right: initial;
}

}
